@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  overflow-x: hidden;
  background-color: white;
  scroll-behavior: smooth;
}
/* Scrollbar styling for WebKit browsers (Chrome, Safari, etc.) */
.scrollbar::-webkit-scrollbar {
  width: 4px;

  /* Width of the scrollbar */
}

.border-gradient {
  position: relative;
  padding: 1.5px;
  border-radius: 1rem;
  background: linear-gradient(
    180deg,
    rgba(58, 133, 211, 1) 0%,
    rgba(88, 169, 106, 1) 72%,
    rgba(93, 175, 87, 1) 100%
  );
}

.border-grey {
  position: relative;
  padding: 1.5px;
  border-radius: 1rem;
  background: #c0bfbf;
}

.border-gradient-inner {
  background-color: white;
  border-radius: inherit;
  padding: 15px;
}

/* Apply styles to table rows for smaller screens */
table tbody tr {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #e5e7eb; /* Customize as needed */
}

table tbody tr td {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

table tbody tr td::before {
  content: attr(data-label);
  font-weight: bold;
  color: #4a5568; /* Adjust to match your theme */
}

/* For larger screens, revert back to table layout */
@media (min-width: 1024px) {
  table tbody tr {
    display: table-row;
  }
  table tbody tr td {
    display: table-cell;
    padding: 15px;
  }
  table tbody tr td::before {
    content: none;
  }
}
